<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinkal.todolist">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ToDoActivity" />

        <activity android:name=".activity.ManageCategoryActivity" />

        <activity android:name=".activity.AddUpdateActivity" />

        <activity android:name=".activity.HistoryActivity" />

        <!--notification broadcastreceiver-->
        <receiver
            android:name=".broadcastreceiver.AlarmReceiver"
            android:enabled="true" />

        <!-- tasklist widget -->
        <receiver
            android:name=".widget.TaskWidgetProvider"
            android:label="@string/taskList">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_tasklist_info" />
        </receiver>
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <!-- counter widget -->
        <receiver
            android:name=".widget.CounterWidgetProvider"
            android:label="@string/toDoList">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_counter_info" />
        </receiver>

    </application>

</manifest>